/**:
  ros__parameters:
    wheel_radius: {{ vehicle.wheel_radius }} # The radius of the wheel, primarily used for dead reckoning.
    wheel_width: {{ vehicle.wheel_width }} # The lateral width of a wheel tire, primarily used for dead reckoning.
    wheel_base: {{ vehicle.wheel_base }} # between front wheel center and rear wheel center
    wheel_tread: {{ vehicle.wheel_tread }} # between left wheel center and right wheel center
    front_overhang: {{ vehicle.front_overhang }} # between front wheel center and vehicle front
    rear_overhang: {{ vehicle.rear_overhang }} # between rear wheel center and vehicle rear
    left_overhang: {{ vehicle.left_overhang }} # between left wheel center and vehicle left
    right_overhang: {{ vehicle.right_overhang }} # between right wheel center and vehicle right
    vehicle_height: {{ vehicle.height }}
    max_steer_angle: {{ vehicle.max_steer_angle }} # [rad]